<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzSpan="24">
    <h2 nz-typography>List Movies</h2>

    <nz-table
      #tableMovies
      [nzData]="movies()"
      [nzLoading]="loading()"
      [nzBordered]="true"
      [nzShowPagination]="true"
      [nzFrontPagination]="false"
      [nzPageIndex]="page()?.number || 0 + 1"
      [nzTotal]="page()?.totalElements || 100"
      [nzPageSize]="page()?.size || 10"
      (nzPageIndexChange)="onChangePage($event)"
    >
      <thead>
        <tr [formGroup]="searchForm">
          <th [nzWidth]="'25%'">ID</th>
          <th [nzWidth]="'25%'">
            Year

            <nz-date-picker
              nzFormat="YYYY"
              nzMode="year"
              nzPlaceHolder="Filter by year"
              formControlName="year"
            ></nz-date-picker>
          </th>
          <th [nzWidth]="'25%'">Title</th>
          <th [nzWidth]="'25%'">
            Winner?

            <nz-select nzPlaceHolder="Yes/No" formControlName="winner">
              <nz-option nzValue="true" nzLabel="Yes"></nz-option>
              <nz-option nzValue="false" nzLabel="No"></nz-option>
            </nz-select>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (data of movies(); let i = $index; track data) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ data.year }}</td>
          <td>{{ data.title }}</td>
          <td>{{ data.winner ? "Yes" : "No" }}</td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
